@model SPCF.ViewModels.Author.Delete


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Authors</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @if (Model.Image == null)
            {
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" class="img-circle" style="height:75px; width:75px; vertical-align: middle; float: none; display: inline-block" />;
            }
            else
            {
                string img64Url = string.Format("data:image;" + "base64,{0}", Model.Image);
                <img src="@img64Url" style="width:100px; height:150px; padding-top:10px" />
            }
        </dd>

    </dl>

    @using (Html.BeginForm("Delete","Authors", FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
